<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>webjars不使用版本定位工具</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
        <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.5.1/dist/jquery.js}"></script>
    </head>
    <body>
        <div class="container"><br/>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                Hello, <strong>Dalaoyang!</strong>
            </div>
        </div>
        <hr>
        <button id="btn">JQuery</button>

        <script type="text/javascript">
            $("#btn").click(function () {
                alert(23+32);
            });
        </script>
    </body>
</html>